ion-content{
    --ion-background-color:#fff;
}

.item-background-color{
    --ion-item-background:#57e3edd5;
}

.label-content{
    font-weight: bold;
    float: left;
}

.row-header {
    color: #fff;
    background: #6c7ae0;
}

.first-row { 
    border: 2px solid rgb(174, 183, 202);
}
.next-row {
    border-left: 2px solid rgb(174, 183, 202);
    border-right: 2px solid rgb(174, 183, 202);
    border-bottom: 2px solid rgb(174, 183, 202);
}