.notification-bar {
    background-color: #dddddd; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 8px; /* Rounded corners */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width */
    margin-bottom: 20px; /* Margin for spacing */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
  }





  .location-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Add margin-top as needed */
  }
  
  .location-container label {
    margin-right: 10px;
  }
  
  .location-container input[type="text"] {
    width: 100px; /* Adjust width as needed */
    font-size: 14px; /* Adjust font size as needed */
    padding: 5px;
    border-radius: 12px;
    border: 3px solid #ccc;
  }
  
  /* Add margin-right to the latitude input */
  .location-container input#latitude {
    margin-right: 10px; /* Adjust margin-right as needed */
  }
  
  /* Media query for smaller screens */
  @media only screen and (max-width: 600px) {
    .location-container input[type="text"] {
      width: 100px; /* Adjust width for smaller screens */
    }
  
    /* Adjust margin-right for latitude input on smaller screens */
    .location-container input#latitude {
      margin-right: 5px; /* Adjust margin-right for smaller screens */
    }
  }
  
  .cld{
    color:#F5CE00;
  }
  .bd{
    color:#FFFAFA
  }
  